<ul class="nav nav-tabs mb-3">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="registers-tab" data-bs-toggle="tab" data-bs-target="#registers"
            type="button" role="tab" aria-controls="registers" aria-selected="true">Registers</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="csrs-tab" data-bs-toggle="tab" data-bs-target="#csrs" type="button" role="tab"
            aria-controls="csrs" aria-selected="false">CSR</button>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="registers" role="tabpanel" aria-labelledby="registers-tab">
        <span id="register"></span>
    </div>
    <div class="tab-pane fade" id="csrs" role="tabpanel" aria-labelledby="csrs-tab">
        <span id="csr"></span>
    </div>
</div>